@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard, sans-serif;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Pretendard, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border-style: none;
  background-color: #53b5ec;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 48px;
}

p,
button {
  font-size: 18px;
}
