:root {
  --color-main: #53B5EC;
  --padding-margin: 0.5rem;
  --max-width: 48rem;
}

.App {
  /* text-align: center; */
  margin: 0 auto;
  height: calc(100vh - 2*var(--padding-margin));
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  padding: var(--padding-margin);
}

.timeChecker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.timeTodo {
  flex: 1;
}

.timeButtonContainer > button {
  margin-top: var(--padding-margin);
}

.timeText {
  text-align: center;
}

.button-white {
  background-color: white;
  color: #53B5EC;
  box-shadow: 0 0 0 2px var(--color-main) inset;
}
